In [2]:
a = ['a', 'b']
b = [1, 2]

In [3]:
b[a.index('b')]

2

In [12]:
import pandas as pd
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

In [4]:
df=pd.DataFrame(columns=['list1','list2'])
df['list1'],df['list2']=list1,list2
print(df)

   list1  list2
0      1      6
1      2      7
2      3      8
3      4      9
4      5     10

In [13]:
list = []

In [14]:
list.append(list1)
list.append(list2)

In [15]:
list

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [16]:
pd.DataFrame(list)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [17]:
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
list1 += list1

In [19]:
list1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
for a in [1,2]:
    byA = []
    for b in ['a', 'b']:
        byB = []
        for c in [3, 4]:
            byC = []
            for d in ['c', 'e', 'f']:
                out = d
                byC.append(out)
            byB += byC
        byA.append(byB)
    print(pd.DataFrame(byA))

   0  1  2  3  4  5
0  c  e  f  c  e  f
1  c  e  f  c  e  f
   0  1  2  3  4  5
0  c  e  f  c  e  f
1  c  e  f  c  e  f

In [30]:
print(range(3,5))

range(3, 5)