In [1]:
import json
import pandas as pd

In [2]:
inpath = '/Users/dongmeichen/OneDrive - lanecouncilofgovernments/VE-RSPM'

In [140]:
scen = pd.read_csv(f'{inpath}/sensitivity_tests/selected_scenario_list.csv')

In [141]:
scen.head()

   B  C  D  E  F  G  I  L  P  T  V                       S
0  1  1  1  1  1  1  1  1  1  1  1  B1C1D1E1F1G1I1L1P1T1V1
1  1  1  1  1  1  1  1  2  1  2  1  B1C1D1E1F1G1I1L2P1T2V1
2  1  1  1  1  1  1  1  2  2  3  1  B1C1D1E1F1G1I1L2P2T3V1
3  2  1  1  1  1  1  1  2  2  3  1  B2C1D1E1F1G1I1L2P2T3V1
4  1  1  2  2  1  1  1  1  1  1  1  B1C1D2E2F1G1I1L1P1T1V1

In [142]:
scen = scen.rename(columns={'S': 'Scenario'})
#scen.rename(columns={'S': 'Scenario'}, inplace=True)
scen.head()

   B  C  D  E  F  G  I  L  P  T  V                Scenario
0  1  1  1  1  1  1  1  1  1  1  1  B1C1D1E1F1G1I1L1P1T1V1
1  1  1  1  1  1  1  1  2  1  2  1  B1C1D1E1F1G1I1L2P1T2V1
2  1  1  1  1  1  1  1  2  2  3  1  B1C1D1E1F1G1I1L2P2T3V1
3  2  1  1  1  1  1  1  2  2  3  1  B2C1D1E1F1G1I1L2P2T3V1
4  1  1  2  2  1  1  1  1  1  1  1  B1C1D2E2F1G1I1L1P1T1V1

In [143]:
meas = pd.read_csv(f'{inpath}/output/Measures_Sensitivity_Output_6.csv')
meas.head()

,Measure,Units,Description,Value2010,B1C1D1E1F1G1I1L1P1T1V1,B1C1D1E1F1G1I1L2P1T2V1,B1C1D1E1F1G1I1L2P2T3V1,B2C1D1E1F1G1I1L2P2T3V1,B1C1D2E2F1G1I1L1P1T1V1
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...,28241.275835,20961.508423,20964.109675,31446.164513,31446.164513,20961.508423
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...,37225.367097,46029.338718,45697.798725,101436.752845,101436.752845,46029.338718
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...,0.171640,0.044528,0.044614,0.045369,0.044999,0.044241
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...,0.313677,0.338132,0.328408,0.330028,0.330027,0.338132
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...,1.000000,0.981329,0.981325,0.981637,0.981636,0.981324

In [144]:
for x in scen.iterrows():
    print(x)
    break

(0, B                                1
C                                1
D                                1
E                                1
F                                1
G                                1
I                                1
L                                1
P                                1
T                                1
V                                1
Scenario    B1C1D1E1F1G1I1L1P1T1V1
Name: 0, dtype: object)

In [6]:
def rows_to_dicts(df, data_info=['measure', 'scenario']):
    out = []
    fields = list(df)
    if data_info == 'measure':
        out = [{field: val for field, val in zip(fields, values)} 
           for _, values in df.iterrows()]
    elif data_info == 'scenario':
        out = [{field: [val] for field, val in zip(fields, values)} 
           for _, values in df.iterrows()]
    return out

In [145]:
scen = scen.astype(str)

In [146]:
fields = list(scen)
fields.pop(-1)

'Scenario'

In [147]:
fields

['B', 'C', 'D', 'E', 'F', 'G', 'I', 'L', 'P', 'T', 'V']

In [148]:
column_names = ['Scenario']
for col in fields:
    column_names.append(col)

In [149]:
column_names

['Scenario', 'B', 'C', 'D', 'E', 'F', 'G', 'I', 'L', 'P', 'T', 'V']

In [150]:
scen = scen.reindex(columns=column_names)

In [151]:
scen.head()

                 Scenario  B  C  D  E  F  G  I  L  P  T  V
0  B1C1D1E1F1G1I1L1P1T1V1  1  1  1  1  1  1  1  1  1  1  1
1  B1C1D1E1F1G1I1L2P1T2V1  1  1  1  1  1  1  1  2  1  2  1
2  B1C1D1E1F1G1I1L2P2T3V1  1  1  1  1  1  1  1  2  2  3  1
3  B2C1D1E1F1G1I1L2P2T3V1  2  1  1  1  1  1  1  2  2  3  1
4  B1C1D2E2F1G1I1L1P1T1V1  1  1  2  2  1  1  1  1  1  1  1

In [152]:
output = rows_to_dicts(scen, data_info='measure')

In [153]:
print(len(output))
len(scen.Scenario.unique())

5

5

In [87]:
co2_vals = [x for x in meas['Measure'] if 'CO2' in x]
co2_vals

['UrbanBusCO2e',
 'UrbanBusCO2eRate',
 'UrbanComSvcCO2e',
 'UrbanHhCO2e',
 'UrbanHvyTrkAveCO2eRate',
 'UrbanHvyTrkCO2e',
 'UrbanLdvCO2e',
 'UrbanLdvCO2eRate',
 'UrbanRailCO2e',
 'UrbanVanCO2e']

In [88]:
len(co2_vals)

10

In [7]:
def vals_from_scenario(scenario, meas_df, subset=None):
    subset = meas_df.Measure.unique() if subset is None else subset
    try:
        out = {field: meas_df.loc[meas_df.Measure == field, scenario].values[0]
              for field in subset}
        return out
    except KeyError:
        return {}
    except:
        raise

In [8]:
def append_scenario_vals(outputs, meas_df, subset=None):
    for d in outputs:
        scenario = d['Scenario']
        scenario_vals = vals_from_scenario(scenario, meas_df, subset)
        d.update(scenario_vals)
    return outputs

In [89]:
test = append_scenario_vals(output, meas, co2_vals)

In [90]:
test[-1]

{'Scenario': 'B1C1D2E2F1G1I1L1P1T1V1',
 'B': '1',
 'C': '1',
 'D': '2',
 'E': '2',
 'F': '1',
 'G': '1',
 'I': '1',
 'L': '1',
 'P': '1',
 'T': '1',
 'V': '1',
 'UrbanBusCO2e': 6354.245369851839,
 'UrbanBusCO2eRate': 1209.5679405526598,
 'UrbanComSvcCO2e': 33372.1478263503,
 'UrbanHhCO2e': 446230.554635875,
 'UrbanHvyTrkAveCO2eRate': 855.281320819985,
 'UrbanHvyTrkCO2e': 632736.203304024,
 'UrbanLdvCO2e': 486834.841225057,
 'UrbanLdvCO2eRate': 0.00016012709814450701,
 'UrbanRailCO2e': 0.0,
 'UrbanVanCO2e': 7232.13876283271}

In [91]:
with open(f'{inpath}/VEScenarioViewer/test_out.json', 'w') as f:
    json.dump(test, f)

In [38]:
#!open ./test_out.json

In [39]:
#!rm ./test_out.json

In [92]:
# organize measure notes
meas_notes = meas[["Measure", "Units", "Description"]]

In [93]:
meas_notes.head()

,Measure,Units,Description
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...

In [94]:
# NAME, LABEL, DESCRIPTION, INSTRUCTIONS, METRIC, UNIT, COLUMN
meas_notes = meas_notes.rename(columns={'Measure': 'NAME', 'Units': 'UNIT', 'Description':'DESCRIPTION'})

In [95]:
meas_notes.head()

,NAME,UNIT,DESCRIPTION
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...

In [96]:
meas_notes.loc[:,'LABEL'] = meas_notes.loc[:,'NAME']
meas_notes.loc[:,'COLUMN']= meas_notes.loc[:,'NAME']

In [97]:
meas_notes.head()

,NAME,UNIT,DESCRIPTION,LABEL,COLUMN
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...,HhTotDailyOthParkingCost,HhTotDailyOthParkingCost
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...,HhTotDailyWkrParkingCost,HhTotDailyWkrParkingCost
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...,HhVehTravCostShare,HhVehTravCostShare
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...,HhVehTravCostShareLowInc,HhVehTravCostShareLowInc
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...,MareaCarSvcAutoDvmtProp,MareaCarSvcAutoDvmtProp

In [98]:
meas_notes.loc[:,'INSTRUCTIONS'] = meas_notes.loc[:,'DESCRIPTION']

In [99]:
meas_notes.loc[:,'METRIC'] = 'Average'

In [100]:
meas_notes = meas_notes[['NAME', 'LABEL', 'DESCRIPTION', 'INSTRUCTIONS', 'METRIC', 'UNIT', 'COLUMN']]

In [101]:
meas_notes.head()

,NAME,LABEL,DESCRIPTION,INSTRUCTIONS,METRIC,UNIT,COLUMN
0,HhTotDailyOthParkingCost,HhTotDailyOthParkingCost,Total daily non-work parking expenditures by h...,Total daily non-work parking expenditures by h...,Average,USD per day,HhTotDailyOthParkingCost
1,HhTotDailyWkrParkingCost,HhTotDailyWkrParkingCost,Total daily work parking expenditures by house...,Total daily work parking expenditures by house...,Average,USD per day,HhTotDailyWkrParkingCost
2,HhVehTravCostShare,HhVehTravCostShare,Household vehicle Own & out-of-pocket costs sh...,Household vehicle Own & out-of-pocket costs sh...,Average,Proportion,HhVehTravCostShare
3,HhVehTravCostShareLowInc,HhVehTravCostShareLowInc,Low income (0to20K 2010$) household vehicle Ow...,Low income (0to20K 2010$) household vehicle Ow...,Average,Proportion,HhVehTravCostShareLowInc
4,MareaCarSvcAutoDvmtProp,MareaCarSvcAutoDvmtProp,Average proportion car service vehicle DVMT in...,Average proportion car service vehicle DVMT in...,Average,Proportion,MareaCarSvcAutoDvmtProp

In [102]:
meas_notes_subset = meas_notes.loc[meas_notes['NAME'].isin(co2_vals)]

In [103]:
output2 = rows_to_dicts(meas_notes_subset,data_info='measure')

In [104]:
with open(f'{inpath}/VEScenarioViewer/test_out2.json', 'w') as f:
    json.dump(output2, f)

In [105]:
# organize category and levels
cat_levels = pd.read_csv(f'{inpath}/sensitivity_tests/sensitivity_scenarios.csv')

In [106]:
cat_levels.head()

,strategy_label,strategy_description,strategy_name,category_name,category_label,category_description,category_instructions,file,geo,policy_name,policy_label,policy_description
0,Community Design,Local policies to enable shorter trips and tra...,C,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...,azone_prop_sov_dvmt_diverted.csv,azone,1,Base,Baseline bicyling percentage of SOV tours less...
1,Community Design,Local policies to enable shorter trips and tra...,C,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...,azone_prop_sov_dvmt_diverted.csv,azone,2,Increased,Increased bicyling percentage of SOV tours les...
2,Pricing,State-led policies that move towards true cost...,P,C,Vehicle Travel Cost,Combination of fuel prices and charges to pay ...,The combination of fuel prices and vehicle tra...,azone_hh_veh_own_taxes.csv,azone,1,Base,Baseline annual flat rate tax per vehicle in d...
3,Pricing,State-led policies that move towards true cost...,P,C,Vehicle Travel Cost,Combination of fuel prices and charges to pay ...,The combination of fuel prices and vehicle tra...,azone_hh_veh_own_taxes.csv,azone,2,Increased,Increased annual flat rate tax per vehicle in ...
4,Pricing,State-led policies that move towards true cost...,P,C,Vehicle Travel Cost,Combination of fuel prices and charges to pay ...,The combination of fuel prices and vehicle tra...,azone_hh_veh_own_taxes.csv,azone,3,100%,More increase in annual flat rate tax per vehi...

In [107]:
list(cat_levels.columns)

['strategy_label',
 'strategy_description',
 'strategy_name',
 'category_name',
 'category_label',
 'category_description',
 'category_instructions',
 'file',
 'geo',
 'policy_name',
 'policy_label',
 'policy_description']

In [108]:
# NAME, LABEL, DESCRIPTION, INSTRUCTIONS, LEVELS (NAME, LABEL, DESCRIPTION)
levels = cat_levels[['policy_name', 'policy_label', 'policy_description']]

In [109]:
levels = levels.rename(columns={'policy_name': 'NAME', 'policy_label': 'LABEL', 'policy_description':'DESCRIPTION'})

In [110]:
levels.head()

   NAME      LABEL                                        DESCRIPTION
0     1       Base  Baseline bicyling percentage of SOV tours less...
1     2  Increased  Increased bicyling percentage of SOV tours les...
2     1       Base  Baseline annual flat rate tax per vehicle in d...
3     2  Increased  Increased annual flat rate tax per vehicle in ...
4     3       100%  More increase in annual flat rate tax per vehi...

In [111]:
level_output = rows_to_dicts(levels, data_info='scenario')
level_output[0]

{'NAME': [1],
 'LABEL': ['Base'],
 'DESCRIPTION': ['Baseline bicyling percentage of SOV tours less than 20 miles (19%)']}

In [112]:
categories = cat_levels[['category_name','category_label','category_description','category_instructions']]
categories = categories.rename(columns={'category_name': 'NAME', 
                                        'category_label': 'LABEL', 
                                        'category_description':'DESCRIPTION',
                                        'category_instructions': 'INSTRUCTIONS'})

In [113]:
category_output = rows_to_dicts(categories, data_info='scenario')
category_output[0]

{'NAME': ['B'],
 'LABEL': ['Bicycles'],
 'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
 'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles']}

In [9]:
def list_levels_in_cat(cat, cat_levels_df):
    df = cat_levels_df.loc[cat_levels_df['category_name'] == cat]
    df = df[['policy_name', 'policy_label', 'policy_description']]
    df = df.rename(columns={'policy_name': 'NAME',
                            'policy_label': 'LABEL',
                            'policy_description':'DESCRIPTION'})
    out = rows_to_dicts(df, data_info='scenario')
    return out

In [10]:
def list_cateory_info(cat, cat_levels_df):
    df = cat_levels_df.loc[cat_levels_df['category_name'] == cat]
    df = df[['category_name','category_label','category_description','category_instructions']].drop_duplicates()
    df = df.rename(columns={'category_name': 'NAME', 
                            'category_label': 'LABEL', 
                            'category_description':'DESCRIPTION',
                            'category_instructions': 'INSTRUCTIONS'})
    out = rows_to_dicts(df, data_info='scenario')
    return out

In [114]:
cat_levels.policy_name = cat_levels.policy_name.astype(str)

In [115]:
list_levels_in_cat('B', cat_levels)

[{'NAME': ['1'],
  'LABEL': ['Base'],
  'DESCRIPTION': ['Baseline bicyling percentage of SOV tours less than 20 miles (19%)']},
 {'NAME': ['2'],
  'LABEL': ['Increased'],
  'DESCRIPTION': ['Increased bicyling percentage of SOV tours less than 20 miles']}]

In [116]:
cat_levels[['category_name','category_label','category_description','category_instructions']].drop_duplicates().head()

,category_name,category_label,category_description,category_instructions
0,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...
2,C,Vehicle Travel Cost,Combination of fuel prices and charges to pay ...,The combination of fuel prices and vehicle tra...
5,D,Demand Management,Programs to encourage less private vehicle travel,Programs and incentives which encourage people...
7,E,Driving Efficiency,Driving efficiency by increasing implementatio...,DVMT affected by operations for different road...
9,F,Technology Mix and CI,Vehicle technology mix and carbon intensity of...,Transit powertrain proportions by transit vehi...

In [117]:
list_cateory_info('B', cat_levels)

[{'NAME': ['B'],
  'LABEL': ['Bicycles'],
  'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
  'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles']}]

In [11]:
def add_nested_dicts(cat_dict, level_list):
    cat_dict['LEVELS'] = level_list
    return cat_dict

In [12]:
def collect_scenario_info(cat_levels_df):
    out = []
    for cat in list(cat_levels_df.category_name.unique()):
        list1 = list_cateory_info(cat, cat_levels_df)
        list2 = list_levels_in_cat(cat, cat_levels_df)
        out.append(add_nested_dicts(list1[0], list2))
    return out

In [118]:
collect_scenario_info(cat_levels)[0]

{'NAME': ['B'],
 'LABEL': ['Bicycles'],
 'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
 'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles'],
 'LEVELS': [{'NAME': ['1'],
   'LABEL': ['Base'],
   'DESCRIPTION': ['Baseline bicyling percentage of SOV tours less than 20 miles (19%)']},
  {'NAME': ['2'],
   'LABEL': ['Increased'],
   'DESCRIPTION': ['Increased bicyling percentage of SOV tours less than 20 miles']}]}

In [119]:
output3 = collect_scenario_info(cat_levels)

In [120]:
with open(f'{inpath}/VEScenarioViewer/test_out3.json', 'w') as f:
    json.dump(output3, f)

In [121]:
# organize average values for output measures
scen_fields = set(list(meas.columns)).intersection(set(list(scen.loc[:,'Scenario'])))

In [122]:
meas['Avg'] = meas.loc[:, scen_fields].mean(axis=1)

In [123]:
meas_s = meas.loc[meas.Measure.isin(co2_vals),:][['Measure', 'Avg']]

In [124]:
meas_s.head()

                   Measure            Avg
18            UrbanBusCO2e    6587.900735
19        UrbanBusCO2eRate    1209.567941
22         UrbanComSvcCO2e   33717.488697
26             UrbanHhCO2e  450090.370473
64  UrbanHvyTrkAveCO2eRate     855.535056

In [125]:
output4 = {m: a for m, a in zip(meas_s.Measure, meas_s.Avg)}

In [126]:
with open(f'{inpath}/VEScenarioViewer/test_out4.json', 'w') as f:
    json.dump(output4, f)

In [127]:
output4

{'UrbanBusCO2e': 6587.90073456048,
 'UrbanBusCO2eRate': 1209.5679405526598,
 'UrbanComSvcCO2e': 33717.48869714824,
 'UrbanHhCO2e': 450090.3704727252,
 'UrbanHvyTrkAveCO2eRate': 855.5350560563704,
 'UrbanHvyTrkCO2e': 633961.6820647881,
 'UrbanLdvCO2e': 491039.9979327059,
 'UrbanLdvCO2eRate': 0.0001599501670022726,
 'UrbanRailCO2e': 0.0,
 'UrbanVanCO2e': 7232.138762832709}