In [1]:
import json
import pandas as pd

In [2]:
inpath = '/Users/dongmeichen/OneDrive - lanecouncilofgovernments/VE-RSPM'

In [114]:
scen = pd.read_csv(f'{inpath}/sensitivity_tests/random_scenario_list.csv')

In [115]:
scen.head()

   B  C  D  E  F  G  I  P  T  V                     S
0  2  3  3  1  2  2  3  2  1  1  B2C3D3E1F2G2I3P2T1V1
1  1  3  2  2  2  1  2  3  3  2  B1C3D2E2F2G1I2P3T3V2
2  1  3  2  3  2  3  1  3  3  2  B1C3D2E3F2G3I1P3T3V2
3  1  1  3  1  1  2  1  3  3  1  B1C1D3E1F1G2I1P3T3V1
4  1  1  1  1  3  1  2  3  1  2  B1C1D1E1F3G1I2P3T1V2

In [116]:
scen = scen.rename(columns={'S': 'Scenario'})
#scen.rename(columns={'S': 'Scenario'}, inplace=True)
scen.head()

   B  C  D  E  F  G  I  P  T  V              Scenario
0  2  3  3  1  2  2  3  2  1  1  B2C3D3E1F2G2I3P2T1V1
1  1  3  2  2  2  1  2  3  3  2  B1C3D2E2F2G1I2P3T3V2
2  1  3  2  3  2  3  1  3  3  2  B1C3D2E3F2G3I1P3T3V2
3  1  1  3  1  1  2  1  3  3  1  B1C1D3E1F1G2I1P3T3V1
4  1  1  1  1  3  1  2  3  1  2  B1C1D1E1F3G1I2P3T1V2

In [101]:
meas = pd.read_csv(f'{inpath}/output/Measures_Sensitivity_Output_3.csv')
meas.head()

,Measure,Units,Description,Value2010,B2C3D3E1F2G2I3P2T1V1,B1C3D2E2F2G1I2P3T3V2,B1C3D2E3F2G3I1P3T3V2,B1C1D3E1F1G2I1P3T3V1,B1C1D1E1F3G1I2P3T1V2,B2C2D3E1F3G3I2P1T1V1,...,B1C3D2E3F2G2I1P1T2V1,B2C1D3E3F3G3I3P3T2V1,B1C2D2E3F2G2I2P3T1V1,B1C3D2E3F2G2I2P2T2V1,B2C1D1E2F3G3I3P3T2V1,B1C3D3E1F3G1I2P1T1V1,B1C1D2E2F2G2I2P2T3V2,B1C1D1E1F2G2I1P1T1V1,B1C1D3E1F2G2I1P3T1V1,B2C3D3E2F2G2I1P3T3V2
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...,28241.275835,31442.242145,41923.075458,41923.016847,41923.016847,41923.075458,20961.537729,...,20961.508423,41922.989527,41923.075458,31442.306593,41922.989527,20961.537729,31442.306593,20961.508423,41923.016847,41923.016847
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...,37225.367097,102214.101467,182958.574315,182958.574315,182958.574315,182958.574315,46029.338718,...,46029.338718,182958.574315,182958.574315,102214.101467,182958.574315,46029.338718,102214.101467,46029.338718,182958.574315,182958.574315
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...,0.171183,0.044668,0.045196,0.056619,0.050420,0.044895,0.051672,...,0.049583,0.050089,0.048233,0.047519,0.050464,0.043535,0.047238,0.049340,0.050435,0.050394
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...,0.312967,0.354758,0.348897,0.350623,0.342399,0.343744,0.343888,...,0.347150,0.347337,0.347405,0.349148,0.347337,0.348279,0.339705,0.339123,0.342564,0.350622
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...,1.000000,0.982431,0.980972,0.981950,0.982457,0.981643,0.982159,...,0.983144,0.981863,0.982764,0.981573,0.981867,0.981560,0.982777,0.982015,0.981971,0.981710

In [102]:
for x in scen.iterrows():
    print(x)
    break

(0, B                              2
C                              3
D                              3
E                              1
F                              2
G                              2
I                              3
P                              2
T                              1
V                              1
Scenario    B2C3D3E1F2G2I3P2T1V1
Name: 0, dtype: object)

In [8]:
def rows_to_dicts(df, data_info=['measure', 'scenario']):
    out = []
    fields = list(df)
    if data_info == 'measure':
        out = [{field: val for field, val in zip(fields, values)} 
           for _, values in df.iterrows()]
    elif data_info == 'scenario':
        out = [{field: [val] for field, val in zip(fields, values)} 
           for _, values in df.iterrows()]
    return out

In [117]:
scen = scen.astype(str)

In [118]:
fields = list(scen)
fields.pop(-1)

'Scenario'

In [119]:
fields

['B', 'C', 'D', 'E', 'F', 'G', 'I', 'P', 'T', 'V']

In [120]:
column_names = ['Scenario']
for col in fields:
    column_names.append(col)

In [121]:
column_names

['Scenario', 'B', 'C', 'D', 'E', 'F', 'G', 'I', 'P', 'T', 'V']

In [122]:
scen = scen.reindex(columns=column_names)

In [128]:
scen.head()

               Scenario  B  C  D  E  F  G  I  P  T  V
0  B2C3D3E1F2G2I3P2T1V1  2  3  3  1  2  2  3  2  1  1
1  B1C3D2E2F2G1I2P3T3V2  1  3  2  2  2  1  2  3  3  2
2  B1C3D2E3F2G3I1P3T3V2  1  3  2  3  2  3  1  3  3  2
3  B1C1D3E1F1G2I1P3T3V1  1  1  3  1  1  2  1  3  3  1
4  B1C1D1E1F3G1I2P3T1V2  1  1  1  1  3  1  2  3  1  2

In [123]:
scen.loc[0:4,:]

               Scenario  B  C  D  E  F  G  I  P  T  V
0  B2C3D3E1F2G2I3P2T1V1  2  3  3  1  2  2  3  2  1  1
1  B1C3D2E2F2G1I2P3T3V2  1  3  2  2  2  1  2  3  3  2
2  B1C3D2E3F2G3I1P3T3V2  1  3  2  3  2  3  1  3  3  2
3  B1C1D3E1F1G2I1P3T3V1  1  1  3  1  1  2  1  3  3  1
4  B1C1D1E1F3G1I2P3T1V2  1  1  1  1  3  1  2  3  1  2

In [129]:
output = rows_to_dicts(scen, data_info='measure')

In [130]:
print(len(output))
len(scen.Scenario.unique())

100

100

In [24]:
co2_vals = [x for x in meas['Measure'] if 'CO2' in x]
co2_vals

['UrbanBusCO2e',
 'UrbanBusCO2eRate',
 'UrbanComSvcCO2e',
 'UrbanHhCO2e',
 'UrbanHvyTrkAveCO2eRate',
 'UrbanHvyTrkCO2e',
 'UrbanLdvCO2e',
 'UrbanLdvCO2eRate',
 'UrbanRailCO2e',
 'UrbanVanCO2e']

In [25]:
len(co2_vals)

10

In [26]:
def vals_from_scenario(scenario, meas_df, subset=None):
    subset = meas_df.Measure.unique() if subset is None else subset
    try:
        out = {field: meas_df.loc[meas_df.Measure == field, scenario].values[0]
              for field in subset}
        return out
    except KeyError:
        return {}
    except:
        raise

In [29]:
def append_scenario_vals(outputs, meas_df, subset=None):
    for d in outputs:
        scenario = d['Scenario']
        scenario_vals = vals_from_scenario(scenario, meas_df, subset)
        d.update(scenario_vals)
    return outputs

In [30]:
test = append_scenario_vals(output, meas, co2_vals)

In [31]:
test[-1]

{'Scenario': 'B1C3D1E1F1G1I1P1T1V1',
 'B': '1',
 'C': '3',
 'D': '1',
 'E': '1',
 'F': '1',
 'G': '1',
 'I': '1',
 'P': '1',
 'T': '1',
 'V': '1',
 'UrbanBusCO2e': 8736.46830273867,
 'UrbanBusCO2eRate': 1663.03807259077,
 'UrbanComSvcCO2e': 36070.975383579906,
 'UrbanHhCO2e': 563596.4855222771,
 'UrbanHvyTrkAveCO2eRate': 736.721964983288,
 'UrbanHvyTrkCO2e': 545026.119087101,
 'UrbanLdvCO2e': 606899.59966869,
 'UrbanLdvCO2eRate': 0.00019803968445633,
 'UrbanRailCO2e': 0.0,
 'UrbanVanCO2e': 7232.13876283271}

In [32]:
with open(f'{inpath}/VEScenarioViewer/test_out.json', 'w') as f:
    json.dump(test[0:5], f)

In [38]:
#!open ./test_out.json

In [39]:
#!rm ./test_out.json

In [33]:
# organize measure notes
meas_notes = meas[["Measure", "Units", "Description"]]

In [34]:
meas_notes.head()

,Measure,Units,Description
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...

In [35]:
# NAME, LABEL, DESCRIPTION, INSTRUCTIONS, METRIC, UNIT, COLUMN
meas_notes = meas_notes.rename(columns={'Measure': 'NAME', 'Units': 'UNIT', 'Description':'DESCRIPTION'})

In [36]:
meas_notes.head()

,NAME,UNIT,DESCRIPTION
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...

In [37]:
meas_notes.loc[:,'LABEL'] = meas_notes.loc[:,'NAME']
meas_notes.loc[:,'COLUMN']= meas_notes.loc[:,'NAME']

In [38]:
meas_notes.head()

,NAME,UNIT,DESCRIPTION,LABEL,COLUMN
0,HhTotDailyOthParkingCost,USD per day,Total daily non-work parking expenditures by h...,HhTotDailyOthParkingCost,HhTotDailyOthParkingCost
1,HhTotDailyWkrParkingCost,USD per day,Total daily work parking expenditures by house...,HhTotDailyWkrParkingCost,HhTotDailyWkrParkingCost
2,HhVehTravCostShare,Proportion,Household vehicle Own & out-of-pocket costs sh...,HhVehTravCostShare,HhVehTravCostShare
3,HhVehTravCostShareLowInc,Proportion,Low income (0to20K 2010$) household vehicle Ow...,HhVehTravCostShareLowInc,HhVehTravCostShareLowInc
4,MareaCarSvcAutoDvmtProp,Proportion,Average proportion car service vehicle DVMT in...,MareaCarSvcAutoDvmtProp,MareaCarSvcAutoDvmtProp

In [39]:
meas_notes.loc[:,'INSTRUCTIONS'] = meas_notes.loc[:,'DESCRIPTION']

In [40]:
meas_notes.loc[:,'METRIC'] = 'Average'

In [41]:
meas_notes = meas_notes[['NAME', 'LABEL', 'DESCRIPTION', 'INSTRUCTIONS', 'METRIC', 'UNIT', 'COLUMN']]

In [42]:
meas_notes.head()

,NAME,LABEL,DESCRIPTION,INSTRUCTIONS,METRIC,UNIT,COLUMN
0,HhTotDailyOthParkingCost,HhTotDailyOthParkingCost,Total daily non-work parking expenditures by h...,Total daily non-work parking expenditures by h...,Average,USD per day,HhTotDailyOthParkingCost
1,HhTotDailyWkrParkingCost,HhTotDailyWkrParkingCost,Total daily work parking expenditures by house...,Total daily work parking expenditures by house...,Average,USD per day,HhTotDailyWkrParkingCost
2,HhVehTravCostShare,HhVehTravCostShare,Household vehicle Own & out-of-pocket costs sh...,Household vehicle Own & out-of-pocket costs sh...,Average,Proportion,HhVehTravCostShare
3,HhVehTravCostShareLowInc,HhVehTravCostShareLowInc,Low income (0to20K 2010$) household vehicle Ow...,Low income (0to20K 2010$) household vehicle Ow...,Average,Proportion,HhVehTravCostShareLowInc
4,MareaCarSvcAutoDvmtProp,MareaCarSvcAutoDvmtProp,Average proportion car service vehicle DVMT in...,Average proportion car service vehicle DVMT in...,Average,Proportion,MareaCarSvcAutoDvmtProp

In [43]:
meas_notes_subset = meas_notes.loc[meas_notes['NAME'].isin(co2_vals)]

In [51]:
output2 = rows_to_dicts(meas_notes_subset,data_info='measure')

In [53]:
with open(f'{inpath}/VEScenarioViewer/test_out2.json', 'w') as f:
    json.dump(output2, f)

In [54]:
# organize category and levels
cat_levels = pd.read_csv(f'{inpath}/sensitivity_tests/sensitivity_scenarios.csv')

In [55]:
cat_levels.head()

,strategy_label,strategy_description,strategy_level,category_name,category_label,category_description,category_instructions,file,geo,city,variable,policy_name,policy_label,policy_description,value
0,Community Design,Local policies to enable shorter trips and tra...,0,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...,azone_prop_sov_dvmt_diverted.csv,azone,NaN,PropSovDvmtDiverted,0,Reduced,Reduced bicyling percentage of SOV tours less ...,0.1
1,Community Design,Local policies to enable shorter trips and tra...,1,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...,azone_prop_sov_dvmt_diverted.csv,azone,NaN,PropSovDvmtDiverted,1,Base,Baseline bicyling percentage of SOV tours less...,0.19
2,Community Design,Local policies to enable shorter trips and tra...,2,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...,azone_prop_sov_dvmt_diverted.csv,azone,NaN,PropSovDvmtDiverted,2,Increased,Increased bicyling percentage of SOV tours les...,0.3
3,Community Design,Local policies to enable shorter trips and tra...,0,P,Parking,Extent of and charges for priced parking,The extent of paid parking and its price,bzone_parking.csv,bzone,NaN,PkgCost.2005,0,Reduced,Reduced average daily cost for long-term parki...,1.44
4,Community Design,Local policies to enable shorter trips and tra...,1,P,Parking,Extent of and charges for priced parking,The extent of paid parking and its price,bzone_parking.csv,bzone,NaN,PkgCost.2005,1,Base,Baseline average daily cost for long-term park...,2.88

In [56]:
list(cat_levels.columns)

['strategy_label',
 'strategy_description',
 'strategy_level',
 'category_name',
 'category_label',
 'category_description',
 'category_instructions',
 'file',
 'geo',
 'city',
 'variable',
 'policy_name',
 'policy_label',
 'policy_description',
 'value']

In [57]:
# NAME, LABEL, DESCRIPTION, INSTRUCTIONS, LEVELS (NAME, LABEL, DESCRIPTION)
levels = cat_levels[['policy_name', 'policy_label', 'policy_description']]

In [58]:
levels = levels.rename(columns={'policy_name': 'NAME', 'policy_label': 'LABEL', 'policy_description':'DESCRIPTION'})

In [59]:
levels.head()

   NAME      LABEL                                        DESCRIPTION
0     0    Reduced  Reduced bicyling percentage of SOV tours less ...
1     1       Base  Baseline bicyling percentage of SOV tours less...
2     2  Increased  Increased bicyling percentage of SOV tours les...
3     0    Reduced  Reduced average daily cost for long-term parki...
4     1       Base  Baseline average daily cost for long-term park...

In [61]:
level_output = rows_to_dicts(levels, data_info='scenario')
level_output[0]

{'NAME': [0],
 'LABEL': ['Reduced'],
 'DESCRIPTION': ['Reduced bicyling percentage of SOV tours less than 20 miles']}

In [62]:
type(level_output[0])

dict

In [63]:
categories = cat_levels[['category_name','category_label','category_description','category_instructions']]
categories = categories.rename(columns={'category_name': 'NAME', 
                                        'category_label': 'LABEL', 
                                        'category_description':'DESCRIPTION',
                                        'category_instructions': 'INSTRUCTIONS'})

In [65]:
category_output = rows_to_dicts(categories, data_info='scenario')
category_output[0]

{'NAME': ['B'],
 'LABEL': ['Bicycles'],
 'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
 'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles']}

In [66]:
def list_levels_in_cat(cat, cat_levels_df):
    df = cat_levels_df.loc[cat_levels_df['category_name'] == cat]
    df = df[['policy_name', 'policy_label', 'policy_description']]
    df = df.rename(columns={'policy_name': 'NAME',
                            'policy_label': 'LABEL',
                            'policy_description':'DESCRIPTION'})
    out = rows_to_dicts(df, data_info='scenario')
    return out

In [67]:
def list_cateory_info(cat, cat_levels_df):
    df = cat_levels_df.loc[cat_levels_df['category_name'] == cat]
    df = df[['category_name','category_label','category_description','category_instructions']].drop_duplicates()
    df = df.rename(columns={'category_name': 'NAME', 
                            'category_label': 'LABEL', 
                            'category_description':'DESCRIPTION',
                            'category_instructions': 'INSTRUCTIONS'})
    out = rows_to_dicts(df, data_info='scenario')
    return out

In [68]:
cat_levels.policy_name = cat_levels.policy_name.astype(str)

In [69]:
list_levels_in_cat('B', cat_levels)

[{'NAME': ['0'],
  'LABEL': ['Reduced'],
  'DESCRIPTION': ['Reduced bicyling percentage of SOV tours less than 20 miles']},
 {'NAME': ['1'],
  'LABEL': ['Base'],
  'DESCRIPTION': ['Baseline bicyling percentage of SOV tours less than 20 miles (19%)']},
 {'NAME': ['2'],
  'LABEL': ['Increased'],
  'DESCRIPTION': ['Increased bicyling percentage of SOV tours less than 20 miles']}]

In [70]:
cat_levels[['category_name','category_label','category_description','category_instructions']].drop_duplicates().head()

,category_name,category_label,category_description,category_instructions
0,B,Bicycles,"Network improvements, incentives, and technolo...",The diversion of single-occupant vehicle trave...
3,P,Parking,Extent of and charges for priced parking,The extent of paid parking and its price
15,T,Transit,Level of public transit service,The extent and frequency of transit service
23,D,Demand Management,Programs to encourage less private vehicle travel,Programs and incentives which encourage people...
33,E,Driving Efficiency,Driving efficiency by increasing implementatio...,DVMT affected by operations for different road...

In [71]:
list_cateory_info('B', cat_levels)

[{'NAME': ['B'],
  'LABEL': ['Bicycles'],
  'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
  'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles']}]

In [72]:
def add_nested_dicts(cat_dict, level_list):
    cat_dict['LEVELS'] = level_list
    return cat_dict

In [73]:
def collect_scenario_info(cat_levels_df):
    out = []
    for cat in list(cat_levels_df.category_name.unique()):
        list1 = list_cateory_info(cat, cat_levels_df)
        list2 = list_levels_in_cat(cat, cat_levels_df)
        out.append(add_nested_dicts(list1[0], list2))
    return out

In [74]:
collect_scenario_info(cat_levels)[0]

{'NAME': ['B'],
 'LABEL': ['Bicycles'],
 'DESCRIPTION': ['Network improvements, incentives, and technologies that encourage bicycling and other light-weight vehicle travel'],
 'INSTRUCTIONS': ['The diversion of single-occupant vehicle travel to bicycles, electric bicycles and other light-weight vehicles'],
 'LEVELS': [{'NAME': ['0'],
   'LABEL': ['Reduced'],
   'DESCRIPTION': ['Reduced bicyling percentage of SOV tours less than 20 miles']},
  {'NAME': ['1'],
   'LABEL': ['Base'],
   'DESCRIPTION': ['Baseline bicyling percentage of SOV tours less than 20 miles (19%)']},
  {'NAME': ['2'],
   'LABEL': ['Increased'],
   'DESCRIPTION': ['Increased bicyling percentage of SOV tours less than 20 miles']}]}

In [75]:
output3 = collect_scenario_info(cat_levels)

In [76]:
with open(f'{inpath}/VEScenarioViewer/test_out3.json', 'w') as f:
    json.dump(output3, f)

In [86]:
# organize average values for output measures
scen_fields = set(list(meas.columns)).intersection(set(list(scen.loc[0:4,'Scenario'])))

In [87]:
meas['Avg'] = meas.loc[:, scen_fields].mean(axis=1)

In [88]:
list(meas.columns)

['Measure',
 'Units',
 'Description',
 'Value2010',
 'B1C1D1E1F1G1I1P1T1V1',
 'B2C1D1E1F1G1I1P1T1V1',
 'B1C2D1E1F1G1I1P1T1V1',
 'B2C2D1E1F1G1I1P1T1V1',
 'B1C3D1E1F1G1I1P1T1V1',
 'Avg']

In [90]:
meas_s = meas.loc[meas.Measure.isin(co2_vals),:][['Measure', 'Avg']]

In [91]:
meas_s.head()

                   Measure            Avg
18            UrbanBusCO2e    8736.468303
19        UrbanBusCO2eRate    1663.038073
22         UrbanComSvcCO2e   35946.654246
26             UrbanHhCO2e  560301.057093
64  UrbanHvyTrkAveCO2eRate     736.645652

In [92]:
output4 = {m: a for m, a in zip(meas.Measure, meas.Avg)}

In [93]:
with open(f'{inpath}/VEScenarioViewer/test_out4.json', 'w') as f:
    json.dump(output4, f)