In [1]:
import geopandas as gpd

In [2]:
import os

In [3]:
# run in Mac
path = '/Users/dongmeichen/OneDrive - lanecouncilofgovernments/UrbanSim/downloads'

In [4]:
zone_diff = gpd.read_file(os.path.join(path, 'run_47_zone_diffs', 'zone_diffs.shp'))

In [5]:
list(zone_diff)

['DIST10',
 'DIST30',
 'Shape_Leng',
 'Shape_Area',
 'total_hh',
 'total_jobs',
 'aer',
 'amf',
 'con',
 'edu',
 'fsd',
 'gov',
 'h1i1a1',
 'h1i1a2',
 'h1i1a3',
 'h1i1a4',
 'h1i2a1',
 'h1i2a2',
 'h1i2a3',
 'h1i2a4',
 'h1i3a1',
 'h1i3a2',
 'h1i3a3',
 'h1i3a4',
 'h1i4a1',
 'h1i4a2',
 'h1i4a3',
 'h1i4a4',
 'h2i1a1',
 'h2i1a2',
 'h2i1a3',
 'h2i1a4',
 'h2i2a1',
 'h2i2a2',
 'h2i2a3',
 'h2i2a4',
 'h2i3a1',
 'h2i3a2',
 'h2i3a3',
 'h2i3a4',
 'h2i4a1',
 'h2i4a2',
 'h2i4a3',
 'h2i4a4',
 'h3i1a1',
 'h3i1a2',
 'h3i1a3',
 'h3i1a4',
 'h3i2a1',
 'h3i2a2',
 'h3i2a3',
 'h3i2a4',
 'h3i3a1',
 'h3i3a2',
 'h3i3a3',
 'h3i3a4',
 'h3i4a1',
 'h3i4a2',
 'h3i4a3',
 'h3i4a4',
 'h4i1a1',
 'h4i1a2',
 'h4i1a3',
 'h4i1a4',
 'h4i2a1',
 'h4i2a2',
 'h4i2a3',
 'h4i2a4',
 'h4i3a1',
 'h4i3a2',
 'h4i3a3',
 'h4i3a4',
 'h4i4a1',
 'h4i4a2',
 'h4i4a3',
 'h4i4a4',
 'hss',
 'mfg',
 'mht',
 'osv',
 'pbs',
 'perc_units',
 'rcs',
 'twu',
 'unk',
 'wt',
 'geometry']

In [19]:
zone_diff.head()

,DIST10,DIST30,Shape_Leng,Shape_Area,total_hh,total_jobs,aer,amf,con,edu,...,mfg,mht,osv,pbs,perc_units,rcs,twu,unk,wt,geometry
0,9,28,20161.540478,1.988889e+07,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000882,0.0,0.0,None,0.0,"POLYGON ((-122.98702 43.98927, -122.98675 43.9..."
1,2,5,60626.352092,1.234526e+08,41.0,-2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.001458,0.0,0.0,None,-2.0,"POLYGON ((-123.06097 43.98430, -123.06024 43.9..."
2,9,28,21413.484541,1.937114e+07,9.0,0.0,0.0,0.0,-1.0,0.0,...,-1.0,2.0,0.0,0.0,0.000000,0.0,0.0,None,0.0,"POLYGON ((-123.00659 43.98941, -123.00683 43.9..."
3,2,7,21763.737348,1.277206e+07,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,None,0.0,"POLYGON ((-123.09776 43.99496, -123.09785 43.9..."
4,9,28,16111.548256,1.392528e+07,0.0,24.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,None,0.0,"POLYGON ((-122.95870 43.98914, -122.95862 43.9..."

In [6]:
parcel_fabric = gpd.read_file(os.path.join(path, 'run_47_parcel_fabric', 'parcel_fabric.shp'))

In [7]:
list(parcel_fabric)

['btype',
 'nrsqft',
 'rsqft',
 'du',
 'yrbuilt',
 'lpid',
 'pundev',
 'dev_land',
 'developed',
 'obtype',
 'orsqft',
 'onrsqft',
 'odu',
 'zid',
 'rezoned',
 'city',
 'annexed',
 'ozid',
 'geometry']

In [4]:
new_development = gpd.read_file(os.path.join(path, 'run_47_new_developments', 
                                           'new_developments.shp'))

In [9]:
list(new_development)

['btype',
 'nsqft',
 'rsqft',
 'du',
 'yrbuilt',
 'lpid',
 'pundev',
 'dev_land',
 'orsqft',
 'onrsqft',
 'odu',
 'dua',
 'nrfar',
 'geometry']

In [7]:
sorted(new_development['yrbuilt'].unique())

[2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045]

In [10]:
import pandas as pd

In [11]:
zonechange = pd.read_csv(os.path.join(path, 'results_lcog_run_47_zonechange_2045.csv'))

In [12]:
zonechange.head()

   zone_id  total_hh  total_jobs
0        1       0.0         0.0
1        2       0.0         0.0
2        3       0.0         0.0
3        4       0.0         0.0
4        5       0.0         0.0

In [13]:
kate_20 = pd.read_csv(os.path.join(path, 'results_lcog_run_47_kate_2020.csv'))

In [14]:
kate_20.head()

,zone_id,total_hh,h1i1a1,h1i1a2,h1i1a3,h1i1a4,h1i2a1,h1i2a2,h1i2a3,h1i2a4,...,hss,mfg,mht,osv,pbs,rcs,twu,unk,wt,perc_units_sf
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
list(kate_20)

['zone_id',
 'total_hh',
 'h1i1a1',
 'h1i1a2',
 'h1i1a3',
 'h1i1a4',
 'h1i2a1',
 'h1i2a2',
 'h1i2a3',
 'h1i2a4',
 'h1i3a1',
 'h1i3a2',
 'h1i3a3',
 'h1i3a4',
 'h1i4a1',
 'h1i4a2',
 'h1i4a3',
 'h1i4a4',
 'h2i1a1',
 'h2i1a2',
 'h2i1a3',
 'h2i1a4',
 'h2i2a1',
 'h2i2a2',
 'h2i2a3',
 'h2i2a4',
 'h2i3a1',
 'h2i3a2',
 'h2i3a3',
 'h2i3a4',
 'h2i4a1',
 'h2i4a2',
 'h2i4a3',
 'h2i4a4',
 'h3i1a1',
 'h3i1a2',
 'h3i1a3',
 'h3i1a4',
 'h3i2a1',
 'h3i2a2',
 'h3i2a3',
 'h3i2a4',
 'h3i3a1',
 'h3i3a2',
 'h3i3a3',
 'h3i3a4',
 'h3i4a1',
 'h3i4a2',
 'h3i4a3',
 'h3i4a4',
 'h4i1a1',
 'h4i1a2',
 'h4i1a3',
 'h4i1a4',
 'h4i2a1',
 'h4i2a2',
 'h4i2a3',
 'h4i2a4',
 'h4i3a1',
 'h4i3a2',
 'h4i3a3',
 'h4i3a4',
 'h4i4a1',
 'h4i4a2',
 'h4i4a3',
 'h4i4a4',
 'total_jobs',
 'aer',
 'amf',
 'con',
 'edu',
 'fsd',
 'gov',
 'hss',
 'mfg',
 'mht',
 'osv',
 'pbs',
 'rcs',
 'twu',
 'unk',
 'wt',
 'perc_units_sf']

In [17]:
kate_45 = pd.read_csv(os.path.join(path, 'results_lcog_run_47_kate_2045.csv'))

In [18]:
list(kate_45)

['zone_id',
 'total_hh',
 'h1i1a1',
 'h1i1a2',
 'h1i1a3',
 'h1i1a4',
 'h1i2a1',
 'h1i2a2',
 'h1i2a3',
 'h1i2a4',
 'h1i3a1',
 'h1i3a2',
 'h1i3a3',
 'h1i3a4',
 'h1i4a1',
 'h1i4a2',
 'h1i4a3',
 'h1i4a4',
 'h2i1a1',
 'h2i1a2',
 'h2i1a3',
 'h2i1a4',
 'h2i2a1',
 'h2i2a2',
 'h2i2a3',
 'h2i2a4',
 'h2i3a1',
 'h2i3a2',
 'h2i3a3',
 'h2i3a4',
 'h2i4a1',
 'h2i4a2',
 'h2i4a3',
 'h2i4a4',
 'h3i1a1',
 'h3i1a2',
 'h3i1a3',
 'h3i1a4',
 'h3i2a1',
 'h3i2a2',
 'h3i2a3',
 'h3i2a4',
 'h3i3a1',
 'h3i3a2',
 'h3i3a3',
 'h3i3a4',
 'h3i4a1',
 'h3i4a2',
 'h3i4a3',
 'h3i4a4',
 'h4i1a1',
 'h4i1a2',
 'h4i1a3',
 'h4i1a4',
 'h4i2a1',
 'h4i2a2',
 'h4i2a3',
 'h4i2a4',
 'h4i3a1',
 'h4i3a2',
 'h4i3a3',
 'h4i3a4',
 'h4i4a1',
 'h4i4a2',
 'h4i4a3',
 'h4i4a4',
 'total_jobs',
 'aer',
 'amf',
 'con',
 'edu',
 'fsd',
 'gov',
 'hss',
 'mfg',
 'mht',
 'osv',
 'pbs',
 'rcs',
 'twu',
 'wt',
 'perc_units_sf']