In [1]:
import geopandas as gpd

In [2]:
import os

In [3]:
# run in Mac
path = '/Users/dongmeichen/OneDrive - lanecouncilofgovernments/UrbanSim/downloads'

In [4]:
zone_diff = gpd.read_file(os.path.join(path, 'run_47_zone_diffs', 'zone_diffs.shp'))

In [5]:
list(zone_diff)

['DIST10',
 'DIST30',
 'Shape_Leng',
 'Shape_Area',
 'total_hh',
 'total_jobs',
 'aer',
 'amf',
 'con',
 'edu',
 'fsd',
 'gov',
 'h1i1a1',
 'h1i1a2',
 'h1i1a3',
 'h1i1a4',
 'h1i2a1',
 'h1i2a2',
 'h1i2a3',
 'h1i2a4',
 'h1i3a1',
 'h1i3a2',
 'h1i3a3',
 'h1i3a4',
 'h1i4a1',
 'h1i4a2',
 'h1i4a3',
 'h1i4a4',
 'h2i1a1',
 'h2i1a2',
 'h2i1a3',
 'h2i1a4',
 'h2i2a1',
 'h2i2a2',
 'h2i2a3',
 'h2i2a4',
 'h2i3a1',
 'h2i3a2',
 'h2i3a3',
 'h2i3a4',
 'h2i4a1',
 'h2i4a2',
 'h2i4a3',
 'h2i4a4',
 'h3i1a1',
 'h3i1a2',
 'h3i1a3',
 'h3i1a4',
 'h3i2a1',
 'h3i2a2',
 'h3i2a3',
 'h3i2a4',
 'h3i3a1',
 'h3i3a2',
 'h3i3a3',
 'h3i3a4',
 'h3i4a1',
 'h3i4a2',
 'h3i4a3',
 'h3i4a4',
 'h4i1a1',
 'h4i1a2',
 'h4i1a3',
 'h4i1a4',
 'h4i2a1',
 'h4i2a2',
 'h4i2a3',
 'h4i2a4',
 'h4i3a1',
 'h4i3a2',
 'h4i3a3',
 'h4i3a4',
 'h4i4a1',
 'h4i4a2',
 'h4i4a3',
 'h4i4a4',
 'hss',
 'mfg',
 'mht',
 'osv',
 'pbs',
 'perc_units',
 'rcs',
 'twu',
 'unk',
 'wt',
 'geometry']

In [6]:
parcel_fabric = gpd.read_file(os.path.join(path, 'run_47_parcel_fabric', 'parcel_fabric.shp'))

In [7]:
list(parcel_fabric)

['btype',
 'nrsqft',
 'rsqft',
 'du',
 'yrbuilt',
 'lpid',
 'pundev',
 'dev_land',
 'developed',
 'obtype',
 'orsqft',
 'onrsqft',
 'odu',
 'zid',
 'rezoned',
 'city',
 'annexed',
 'ozid',
 'geometry']

In [8]:
new_development = gpd.read_file(os.path.join(path, 'run_47_new_developments', 
                                           'new_developments.shp'))

In [9]:
list(new_development)

['btype',
 'nsqft',
 'rsqft',
 'du',
 'yrbuilt',
 'lpid',
 'pundev',
 'dev_land',
 'orsqft',
 'onrsqft',
 'odu',
 'dua',
 'nrfar',
 'geometry']

In [10]:
import pandas as pd

In [11]:
zonechange = pd.read_csv(os.path.join(path, 'results_lcog_run_47_zonechange_2045.csv'))

In [12]:
zonechange.head()

   zone_id  total_hh  total_jobs
0        1       0.0         0.0
1        2       0.0         0.0
2        3       0.0         0.0
3        4       0.0         0.0
4        5       0.0         0.0

In [13]:
kate_20 = pd.read_csv(os.path.join(path, 'results_lcog_run_47_kate_2020.csv'))

In [14]:
kate_20.head()

,zone_id,total_hh,h1i1a1,h1i1a2,h1i1a3,h1i1a4,h1i2a1,h1i2a2,h1i2a3,h1i2a4,...,hss,mfg,mht,osv,pbs,rcs,twu,unk,wt,perc_units_sf
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
list(kate_20)

['zone_id',
 'total_hh',
 'h1i1a1',
 'h1i1a2',
 'h1i1a3',
 'h1i1a4',
 'h1i2a1',
 'h1i2a2',
 'h1i2a3',
 'h1i2a4',
 'h1i3a1',
 'h1i3a2',
 'h1i3a3',
 'h1i3a4',
 'h1i4a1',
 'h1i4a2',
 'h1i4a3',
 'h1i4a4',
 'h2i1a1',
 'h2i1a2',
 'h2i1a3',
 'h2i1a4',
 'h2i2a1',
 'h2i2a2',
 'h2i2a3',
 'h2i2a4',
 'h2i3a1',
 'h2i3a2',
 'h2i3a3',
 'h2i3a4',
 'h2i4a1',
 'h2i4a2',
 'h2i4a3',
 'h2i4a4',
 'h3i1a1',
 'h3i1a2',
 'h3i1a3',
 'h3i1a4',
 'h3i2a1',
 'h3i2a2',
 'h3i2a3',
 'h3i2a4',
 'h3i3a1',
 'h3i3a2',
 'h3i3a3',
 'h3i3a4',
 'h3i4a1',
 'h3i4a2',
 'h3i4a3',
 'h3i4a4',
 'h4i1a1',
 'h4i1a2',
 'h4i1a3',
 'h4i1a4',
 'h4i2a1',
 'h4i2a2',
 'h4i2a3',
 'h4i2a4',
 'h4i3a1',
 'h4i3a2',
 'h4i3a3',
 'h4i3a4',
 'h4i4a1',
 'h4i4a2',
 'h4i4a3',
 'h4i4a4',
 'total_jobs',
 'aer',
 'amf',
 'con',
 'edu',
 'fsd',
 'gov',
 'hss',
 'mfg',
 'mht',
 'osv',
 'pbs',
 'rcs',
 'twu',
 'unk',
 'wt',
 'perc_units_sf']